@font-face {
  font-family: "Nunito-Sans";
  src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2")
    format("woff2-variations");
  src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2")
    format("woff2") tech("variations");
  font-weight: 300 700;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.woff2")
    format("woff2-variations");
  src: url("../fonts/WorkSans-VariableFont_wght.woff2") format("woff2")
    tech("variations");
  font-weight: 300 700;
}

body {
  font-family: "Nunito-Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0d0d;
  line-height: 1.35;
  background-color: #fdfdf0;
}
.container-big {
  max-width: 1840px;
  padding: 0 10px;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  font-family: "Nunito-Sans", serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.menu__list {
  display: flex;
  gap: 0 30px;
}
.menu__btn {
  display: none;
}
.menu__link {
  text-transform: uppercase;
}
.header__contacts {
  text-transform: uppercase;
  padding: 10px 40px;
  display: inline-block;
  background-color: #0e0d0d;
  color: #fff;
  border-radius: 50px;
}
.about {
  margin-bottom: 180px;
}
.about__top {
  text-align: center;
  color: #fdfdf8;
  background-image: url(../images/about.png);
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 748px;
  background-size: cover;
}

.about__text {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
}
.about__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 250px;
  line-height: 0.9;
  padding-top: 85px;
  text-transform: uppercase;
}
.about__achievements {
  display: flex;
  justify-content: space-between;
  margin-top: -55px;
  margin-bottom: 90px;
}
.about__achievement {
  border-radius: 20px;
  background-color: #f4f4f7;
  max-width: 580px;
  padding: 14px 10px;
  display: flex;
  gap: 25px;
}
.about__achievements-imgbox {
  min-width: 214px;
  position: relative;
}

.about__achievements-arrow {
  border-radius: 20px;
  border: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 6px;
}
.about__achievements-title {
  margin-bottom: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.about__achievements-text {
  font-weight: 300;
  font-size: 14px;
}
.text--bold {
  font-weight: 600;
}
.text--color {
  font-weight: 600;
  color: #f2a531;
}
.about__stats {
  border-radius: 20px;
}
.about__stats {
  border-radius: 20px;
  background-color: #f4f4f7;
  margin-bottom: 70px;
  display: flex;
  padding: 30px 18px;
  justify-content: space-between;
  gap: 0 90px;
}

.about__state-item {
  text-align: center;
  min-width: 260px;
  & dt {
    font-family: "Work Sans", serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
  }

  & dd {
    font-size: 22px;
    margin: 0;
    color: #0e0d0d;
    opacity: 0.7;
  }
}
.about__progres-text {
  font-family: "Work Sans ", serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.17;
  margin-bottom: 40px;
  & span {
    font-family: "Work Sans", serif;
    font-weight: 500;
  }
}
.about__progres-box {
  display: flex;
  gap: 0 140px;
}

.about__progres-boxtext {
  font-size: 18px;
  margin-bottom: 50px;
  padding-right: 50px;
  line-height: 1.5;
  padding-top: 5px;
}
.about__progres-table {
  border-top: 1px solid rgb(14, 13, 13, 23%);
}
.about__progres-item {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(14, 13, 13, 23%);
  & dt {
    font-weight: 500;
    font-size: 18px;
    & span {
      color: #f2a531;
      font-weight: 600;
    }
    & dd {
      opacity: 0.71;
    }
  }
}

.about__progres-item:first-child {
  padding: 12px 0;
}

.products__wrapper {
  padding: 50px 0;
  background-color: #f4f4f7;
  border-radius: 20px;
}

.products__title {
  font-family: "Work Sans", serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 40px;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 35px;
}
.products__item {
  border-radius: 10px;
  min-height: 322px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 24px;
  position: relative;
  background-position: center center;
  &:nth-child(odd) {
    color: #f4f4f7;
  }
}

.products__item-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: -12px;
  left: -8px;
  padding: 0;
}
.products__item-title {
  font-family: "Work Sans", serif;
  font-size: 32px;
  margin-bottom: 14px;
  font-weight: 400;
}
.products__item-text {
  font-weight: 300;
}

.button {
  border-radius: 96px;
  display: inline-block;
  background-color: #0e0d0d;
  width: 246px;
  color: #f4f4f7;
  text-transform: uppercase;
  padding: 19px 97px 19px 38px;
  position: relative;
  font-weight: 500;
}
.products__link {
  display: block;
  margin: 0 auto;
}
.button img {
  position: absolute;
  right: 4px;
  top: 3px;
}
.slogan {
  text-align: center;
  text-transform: uppercase;
  padding-top: 115px;
}
.slogan__text {
  font-family: "Work Sans", serif;
  font-weight: 500;
  color: #0e0d0d;
  font-size: 40px;
}

.slogan__title {
  font-family: "Work Sans", serif;
  font-weight: 600;
  color: #f2a531;
  font-size: 260px;
  line-height: 1;
}

.slogan__img {
  margin-top: -110px;
}
.partners {
  padding: 130px 0 150px;
}
.partners__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 120px;
}
.partners__info {
  max-width: 500px;
}
.partners__info-title {
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 220px;
}
.partners__info-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: auto;
}
.partners__box-top {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f7;
  border-radius: 10px;
  gap: 0 19px;
  position: relative;
}
.partners__box-top::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 30px;
  width: 64px;
  height: 56px;
  background-image: url(../images/partners_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.partners__box-list {
  padding-left: 24px;
  padding-bottom: 30px;
  margin-top: auto;
}
.partners__box-item + .partners__box-item {
  margin-top: 15px;
}
.partners__box-item {
  font-weight: 500;
  color: #000;
  padding-left: 39px;
  position: relative;
}
.partners__box-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../images/partners_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.partners__box-text {
  background-color: #0e0d0d;
  color: #f4f4f7;
  padding: 30px 80px 30px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  & span {
    color: #f2a531;
    font-weight: 600;
  }
}

.blog {
  margin-bottom: 80px;
}
.blog__wrapper {
  background-color: #f4f4f7;
  border-radius: 20px;
  padding: 100px 0;
}
.blog__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0e0d0d;
  font-family: "Work Sans", serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
}
.blog__items {
  display: grid;
  grid-template-columns: 580px auto;
  grid-template-rows: 1fr 1fr;
  gap: 44px;
}
.blog__item-big {
  grid-row: 1 / 3;
  .blog__item-info {
    margin-bottom: 38px;
  }
}

.blog__item-small {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.blog__item-info {
  color: #f2a531;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
.blog__item-titlelink {
  display: block;
  margin-bottom: 12px;
}
.blog__item-title {
  font-family: "Work Sans", serif;
  color: #0e0d0d;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url(../images/blog_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.blog__item-text {
  color: #667085;
}
.footer {
  background-color: #0e0d0d;
  padding: 100px 0;
  color: #f4f4f7;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 30px;
  padding-right: 100px;
  gap: 20px;
}
.footer__element-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__item + .footer__item {
  padding-top: 15px;
}
.footer__item-address {
  font-style: normal;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 14px;
}

@media (max-width: 1600px) {
  .container-big {
    padding: 0;
  }
  .slogan__title {
    font-size: 140px;
  }
  .slogan__text {
    font-size: 24px;
  }
  .slogan__img {
    margin-top: -70px;
  }
}
@media (max-width: 1280px) {
  .about__title {
    font-size: 140px;
  }
  .about__achievements {
    gap: 20px;
  }
  .about__progres-box {
    gap: 0 20px;
  }
  .partners__inner {
    gap: 20px;
  }
  .blog__items {
    gap: 20px;
    grid-template-columns: 350px auto;
  }
  .partners__inner {
    max-width: 350px;
  }
}
@media (max-width: 1048px) {
  button {
    padding: 20px 40px;
    font-size: 20px;
  }
  .blog__items {
    grid-template-columns: 1fr;
  }
  .blog__item-titlelink {
    max-width: 500px;
  }
  .blog__item-img {
    width: 100%;
    object-fit: cover;
  }
  .blog__item-title {
    font-size: 20px;
  }
}
@media (max-width: 980px) {
  .menu {
    order: 1;
  }
  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f7;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    &.active {
      transform: translateY(0);
    }
  }
  .menu__btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    position: relative;
    z-index: 5;
  }
  .menu__btn span {
    width: 100%;
    height: 3px;
    background-color: #0e0d0d;
  }
  .about__title {
    font-size: 100px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__achievement {
    flex-wrap: wrap;
  }
  .about__stats {
    gap: 20px;
  }
  .partners__inner {
    flex-wrap: wrap;
  }
  .partners__info {
    max-width: 100%;
  }

  .partners__box {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .about__progres-text {
    font-size: 28px;
  }
  .about__progres-img {
    width: 100%;
    object-fit: cover;
    height: 340px;
  }
  .about__progres-box {
    flex-wrap: wrap;
  }
  .about__stats {
    flex-wrap: wrap;
  }
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .slogan__title {
    font-size: 64px;
  }
  .slogan__text {
    font-size: 20px;
  }
  .slogan__img {
    margin-top: -40px;
  }
  .footer__top {
    padding-right: 0;
  }
}
@media (max-width: 790px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 678px) {
  .about__state-item {
    width: 100%;
  }
  .partners__box-text {
    padding: 20px;
  }
  .partners__box-top {
    flex-wrap: wrap;
  }
  .partners__box-top img {
    width: 100%;
    object-fit: cover;
  }
  .partners__box-item {
    width: 100%;
  }
  .partners__box-list {
    margin-top: 120px;
  }
  .blog__item-img {
    width: 100%;
    object-fit: cover;
  }

  .blog__item-titlelink {
    max-width: 100%;
  }

  .blog__item-small {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .footer__element {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__bottom {
    display: block;
  }
  .footer__bottom-item {
    margin-bottom: 15px;
  }
}
@media (max-width: 510px) {
  .header__inner {
    flex-wrap: wrap;
    gap: 20px 65px;
  }
  .menu {
    order: 0;
  }
  .header__contacts {
    margin-left: auto;
    font-size: 16px;
  }

  .slogan__title {
    font-size: 40px;
  }
  .slogan__text {
    font-size: 16px;
  }

  .about__top {
    min-height: 440px;
  }
  .about__title {
    font-size: 60px;
  }
  .about__text {
    font-size: 18px;
  }
  .about__achievements {
    flex-wrap: wrap;
  }
  .about__achievements-img {
    width: 100%;
    object-fit: cover;
  }
  .about__achievements-imgbox {
    min-width: 100%;
    object-fit: cover;
  }
  .about__achievements,
  .about__stats {
    margin-bottom: 30px;
  }
  .about__progres-text {
    font-size: 20px;
  }
  .about {
    margin-bottom: 30px;
  }
  .about__progres-item {
    display: block;
    padding: 15px 0;
  }
  .products__list {
    grid-template-columns: 1fr;
  }
  .products__title {
    font-size: 24px;
  }
  .products__item-title {
    font-size: 20px;
  }
  .products__item-text {
    font-size: 14px;
  }
  .products__item-btn {
    padding: 10px 20px;
    font-size: 12px;
  }
  .blog__item {
    padding: 15px 0;
  }
  .slogan {
    padding-top: 30px;
  }
  .slogan__title {
    font-size: 40px;
  }
  .slogan__text {
    font-size: 16px;
  }
  .slogan__img {
    margin-top: -20px;
  }
  .blog__wrapper {
    padding: 50px 0;
  }
  .blog__title {
    font-size: 24px;
  }

  .partners {
    padding: 50px 0;
  }
  .partners__info-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .partners__info-text {
    font-size: 16px;
  }
  .partners__box-list {
    padding-left: 0;
  }
  .footer {
    padding: 50px 0;
  }
}
